ion-content {
  --background: url('/assets/icon/backW.jpg') 0 0/100% 100% no-repeat;
  border-radius: 20px;
  font-family: 'Arial', sans-serif;
  padding: 0;
}

ion-header {
  --background: rgba(192, 219, 96, 0.938);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#mainToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --background: rgba(133, 116, 110, 0.253) !important;
  padding: 0 10px;
}

ion-back-button, #title, ion-label {
  color: #000 !important;
}

.pati-card {
  display: flex;
  align-items: center;
  background: transparent;
  box-shadow: none;
  width: auto;
  height: 100%;
  margin: 0 10px;

  ion-img {
    width: 40px;
    height: 40px;
    margin-left: 8px;
  }
}

ion-list {
  padding: 10px;

  ion-item {
    --background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    align-items: center;
  }

  ion-img {
    width: 40px;
    height: 40px;
    margin: 4px auto;
  }

  ion-label {
    font-size: 14px;
    color: #111;
  }

 ion-select {
  --padding-start: 8px;
  --color: #111;
  --placeholder-color: #555;

  ion-select-option {
    color: #111 !important;
    font-size: 14px;
    background: #fff;
  }

    &.red {
      --placeholder-color: red;
      --color: red;
    }

    &.blue {
      --placeholder-color: #0366d6;
      --color: #0366d6;
    }

    &.green {
      --placeholder-color: #28a745;
      --color: #28a745;
    }
  }

  .h6 {
    font-size: 12px;
    color: #444;
  }
}

ion-spinner.spin {
  display: block;
  margin: 40px auto;
  width: 32px;
  height: 32px;
  stroke: #444;
  fill: #222;
}
