<ion-header>

    <ion-toolbar id="mainToolbar">

        <ion-buttons slot="start">
            <ion-menu-button slot="start" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-label id="title"><strong>Notifications</strong></ion-label>
        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img src='assets/icon/notification.png'></ion-img>

        </ion-card>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-spinner class="spin" *ngIf="!load" name="bubbles"></ion-spinner>
    <ion-list *ngIf="load" class="animate__animated animate__slideInDown animate__slow">
        <ion-row *ngFor="let careActivity of careActivityByTime">
            <ion-item>


                <ion-col size="2" [routerLink]="['detail-care-activity',careActivity['Id']]">
                    <ion-img *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 1 " src='assets/icon/medication.png'></ion-img>
                    <ion-img *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 2 " src='assets/icon/nutrition.png'></ion-img>
                    <ion-img *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 3 " src='assets/icon/communication.png'></ion-img>
                    <ion-img *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 4 " src='assets/icon/appointment.png'></ion-img>
                    <ion-img *ngIf="careActivity.ValueCareActivity === null " src='assets/icon/sinDefinicion.png'></ion-img>
                    <br>
                </ion-col>
                <ion-col size="6" [routerLink]="['detail-care-activity',careActivity['Id']]">

                    <ion-item lines="none" *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 1 "><strong>Medication</strong></ion-item>
                    <ion-item lines="none" *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 2"><strong>Nutrition</strong></ion-item>
                    <ion-item lines="none" *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 3"><strong>Communication</strong></ion-item>
                    <ion-item lines="none" *ngIf="careActivity.ValueCareActivity !== null && careActivity.ValueCareActivity.TypeActivity === 4"><strong>Appointment</strong></ion-item>
                    <ion-item lines="none" *ngIf="careActivity.ValueCareActivity === null "><strong>Undefiend</strong></ion-item>
                    <ion-item lines="none" class="h6">{{careActivity.Name}}</ion-item>

                    <!-- <ion-toggle class="" toggle-class="toggle-assertive" color="danger"> </ion-toggle>-->

                </ion-col>
                <ion-col size="4">
                    <ion-row>
                        <ion-select interface="popover" (ionChange)="handleChange($event,careActivity.Id)" value="{{careActivity.State}}" [class.red]="careActivity.State === 1" [class.blue]="careActivity.State === 2" [class.green]="careActivity.State === 3">
                            <ion-select-option value="1">Pendent</ion-select-option>
                            <ion-select-option value="2">Discard</ion-select-option>
                            <ion-select-option value="3">Complete</ion-select-option>
                        </ion-select>
                        <hr>
                    </ion-row>
                    <ion-row>
                        {{careActivity.TimeAct|date:'shortTime'}} {{careActivity.TimeAct|date}}
                    </ion-row>
                </ion-col>
            </ion-item>
        </ion-row>

    </ion-list>
    <!-- <ion-toolbar>
        <ion-title class="toolbarNotification">Tomorrow-Thu Feb 10</ion-title>
    </ion-toolbar>
    <ion-list>
        <ion-row>
            <ion-item>
                <ion-col size="3">
                    11:00 AM <br> 45 m

                </ion-col>
                <ion-col size="2">
                    <ion-img src='assets/icon/appointment.png'></ion-img>
                </ion-col>
                <ion-col size="7">
                    <ion-item><strong>Appointment</strong></ion-item>
                    <ion-item class="h6">Alicante Hospital</ion-item>

                </ion-col>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-col size="3">
                    12:00 AM <br> 20 m
                    <br>

                </ion-col>
                <ion-col size="2">
                    <ion-img src='assets/icon/nutrition.png'></ion-img>

                </ion-col>
                <ion-col size="7">
                    <ion-item><strong>Nutrition</strong></ion-item>
                    <ion-item class="h6">Nuts - 1 Apple</ion-item>

                </ion-col>
            </ion-item>
        </ion-row>
    </ion-list> -->
</ion-content>
