<ion-header>
  <ion-toolbar id="mainToolbar">
    <ion-buttons slot="start">
      <ion-menu-button slot="start" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label id="title"><strong>Notifications</strong></ion-label>
    <ion-card slot="end" color="transparent" class="pati-card">
      <ion-img src="assets/icon/notification.png"></ion-img>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner class="spin" *ngIf="!load" name="bubbles"></ion-spinner>
<ion-list *ngIf="load">
  <ion-item
    *ngFor="let careActivity of careActivityByTime"
    class="animate__animated animate__slideInDown animate__slow"
  >
    <!-- Icon -->
    <ion-avatar slot="start">
      <ion-img
        *ngIf="careActivity.valueCareActivity?.typeActivity === 1"
        src="assets/icon/medication.png"
      ></ion-img>
      <ion-img
        *ngIf="careActivity.valueCareActivity?.typeActivity === 2"
        src="assets/icon/nutrition.png"
      ></ion-img>
      <ion-img
        *ngIf="careActivity.valueCareActivity?.typeActivity === 3"
        src="assets/icon/communication.png"
      ></ion-img>
      <ion-img
        *ngIf="careActivity.valueCareActivity?.typeActivity === 4"
        src="assets/icon/appointment.png"
      ></ion-img>
      <ion-img
        *ngIf="careActivity.valueCareActivity === null"
        src="assets/icon/sinDefinicion.png"
      ></ion-img>
    </ion-avatar>

    <!-- Label -->
    <ion-label (click)="navigateToDetail(careActivity.id)">
      <h2>
        {{
          careActivity.valueCareActivity?.typeActivity === 1
            ? 'Medication'
            : careActivity.valueCareActivity?.typeActivity === 2
            ? 'Nutrition'
            : careActivity.valueCareActivity?.typeActivity === 3
            ? 'Communication'
            : careActivity.valueCareActivity?.typeActivity === 4
            ? 'Appointment'
            : 'Undefined'
        }}
      </h2>
      <p>{{ careActivity.name }}</p>
      <p>
        {{ careActivity.timeAct | date: 'shortTime' }} —
        {{ careActivity.timeAct | date }}
      </p>
    </ion-label>

    <!-- Select -->
    <ion-select
      interface="alert"
      [value]="careActivity.state"
      (ionChange)="handleChange($event, careActivity.id)"
      slot="end"
    >
      <ion-select-option value="1">Pendent</ion-select-option>
      <ion-select-option value="2">Discard</ion-select-option>
      <ion-select-option value="3">Complete</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

</ion-content>
