<ion-header>

    <ion-toolbar id="mainToolbar">
        <ion-buttons slot="start">
            <ion-back-button id="return" text="Related Persons" defaultHref="/tabs/tab1/relatedPerson" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>

        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img src='assets/icon/familyW.png'></ion-img>

            <ion-label id="title" *ngIf="relPerson !== undefined"><strong>{{relPerson.Surnames}}</strong></ion-label>
        </ion-card>

    </ion-toolbar>

</ion-header>
<ion-content>
    <!-- <ion-segment scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
        <ion-segment-button value="details">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Personal Data</ion-label>
        </ion-segment-button>
        <ion-spinner name="" color="danger" *ngIf="loading"></ion-spinner>
    </ion-segment>
    <div class="segment" *ngIf="segmentModel === 'details'">-->

    <ion-list *ngIf="relPerson !== undefined && loading === false">
        <!--  <ion-list-header>
                <ion-icon class="segmentIcon" name="person-outline"></ion-icon>Name</ion-list-header>
            <ion-item>

                <ion-label text-wrap> {{relPerson.Name}}</ion-label>
            </ion-item> -->
        <ion-list-header>
            <ion-icon class="segmentIcon" name="person-outline"></ion-icon>Surname</ion-list-header>
        <ion-item>

            <ion-label text-wrap> {{relPerson.Surnames}}</ion-label>
        </ion-item>
        <ion-list-header>
            <ion-icon class="segmentIcon" name="at-outline"></ion-icon>Email</ion-list-header>
        <ion-item>

            <ion-label> {{relPerson.RelatedPerson.Email}}</ion-label>

        </ion-item>
        <ion-list-header>

            <ion-icon class="segmentIcon" name="power-outline"></ion-icon>Active Status</ion-list-header>
        <ion-item>
            <ion-item [hidden]="relPerson.IsActive === true">
                <ion-label>Disactive</ion-label>
            </ion-item>
            <ion-item [hidden]="relPerson.IsActive === false">
                <ion-label>Active</ion-label>
            </ion-item>

            <!-- <ion-label> {{$any(patientData)?.IsActive}}</ion-label> -->

        </ion-item>
        <ion-list-header>
            <ion-icon class="segmentIcon" name="heart-half-outline"></ion-icon>Is Diseased</ion-list-header>
        <ion-item>

            <ion-item [hidden]="relPerson.IsDiseased === false">
                <ion-label>Yes</ion-label>
            </ion-item>
            <ion-item [hidden]="relPerson.IsDiseased === true">
                <ion-label>No</ion-label>
            </ion-item>

        </ion-item>

        <!--  <ion-list-header>
            <ion-icon class="segmentIcon" name="male-female-outline"></ion-icon>Gender</ion-list-header>
        <ion-item>
            <ion-label *ngIf="relPersonData.Type === 1"> Male</ion-label>
            <ion-label *ngIf="relPersonData.Type === 2"> Female</ion-label>
            <ion-label *ngIf="relPersonData.Type === 3"> Other</ion-label>
            <ion-label *ngIf="relPersonData.Type === 4"> Unknown</ion-label>
        </ion-item> -->


    </ion-list>
    <!--    </div> -->

</ion-content>