<ion-header>
  <ion-toolbar id="mainToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Care Plan Section" defaultHref="/tabs/tab2" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-card slot="end" color="transparent" class="pati-card">
      <ion-img src='assets/icon/careActivityW.png' class="toolbar-icon-img"></ion-img>
      <ion-label id="title"><strong>Care Activities</strong></ion-label>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner class="spin" *ngIf="!load" name="bubbles"></ion-spinner>

  <ion-list *ngIf="load" class="styled-access-list">
    <ion-item-sliding *ngFor="let careActivity of careActivityByTime" class="styled-slide">
      <ion-item class="styled-item" detail [routerLink]="['detail-care-activity', careActivity['id']]">
        <ion-avatar slot="start">
          <ion-img [src]="getIcon(careActivity)" alt="Activity Icon"></ion-img>
        </ion-avatar>

        <ion-label class="access-label">
          <h2>{{ getActivityType(careActivity) }}</h2>
          <p>{{ careActivity.Name }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" style="padding-right: 10px;">
        <ion-select interface="popover" (ionChange)="handleChange($event, careActivity.id)"
          [value]="careActivity.state"
          [class.red]="careActivity.state === 1"
          [class.blue]="careActivity.state === 2"
          [class.green]="careActivity.state === 3">
          <ion-select-option value="1">Pendent</ion-select-option>
          <ion-select-option value="2">Discard</ion-select-option>
          <ion-select-option value="3">Complete</ion-select-option>
        </ion-select>
        <small class="date-text">{{ careActivity.timeAct | date:'shortTime' }} {{ careActivity.timeAct | date }}</small>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
