<ion-header>
  <ion-toolbar id="mainToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/tabs" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-label id="title"><strong>Assistive Tools</strong></ion-label>
    <ion-card slot="end" color="transparent" class="pati-card">
      <ion-img id="image-toolbar" src="assets/icon/assistive.png"></ion-img>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="dashboardSection">
    <ion-card [routerLink]="['object-detection']">
      <div class="card-content">
        <ion-img src="assets/icon/object.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Object Detection</div>
          <div class="card-subtitle">Recognize objects around you</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['scene-description']">
      <div class="card-content">
        <ion-img src="assets/icon/scene.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Scene Description</div>
          <div class="card-subtitle">Describe the environment visually</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['text-reader']">
      <div class="card-content">
        <ion-img src="assets/icon/textReader.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Text Reader</div>
          <div class="card-subtitle">Read out printed or digital text</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['color-detection']">
      <div class="card-content">
        <ion-img src="assets/icon/color.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Color Detection</div>
          <div class="card-subtitle">Identify colors in real time</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['hand-gesture']">
      <div class="card-content">
        <ion-img src="assets/icon/gesture.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Gesture to Text</div>
          <div class="card-subtitle">Convert hand signs to text</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['iot-control']">
      <div class="card-content">
        <ion-img src="assets/icon/iot.png"></ion-img>
        <div class="text-content">
          <div class="card-title">IoT Controller</div>
          <div class="card-subtitle">Control smart devices around you</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['chat-assist']">
      <div class="card-content">
        <ion-img src="assets/icon/chat.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Chat Assistant</div>
          <div class="card-subtitle">Ask help or questions to the AI</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['geolocation']">
      <div class="card-content">
        <ion-img src="assets/icon/gps.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Geolocation</div>
          <div class="card-subtitle">Get your current location</div>
        </div>
      </div>
    </ion-card>
  </section>
</ion-content>
