<!-- <ion-header [translucent]="true"> -->

<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Home" defaultHref="/tabs" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-label id="title"><strong>Care Plan Section</strong></ion-label>
        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img id="image-toolbar" src='assets/icon/carePlan.png'></ion-img>

        </ion-card>
    </ion-toolbar>
    <!--  <ion-row class="topRow">
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="pati-card">
                <ion-img src='assets/icon/patientN.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row class="bottomRow">
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row> -->
</ion-header>

<ion-content [fullscreen]="true">
    <section id="dashboardSection">
        <ion-row>
            <ion-card [routerLink]="['careplan']">
                <ion-col size="4">
                    <ion-img src='assets/icon/carePlans.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Care Plan</div>
                    <div class="card-subtitle">Consult your Care Plan</div>

                </ion-col>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card [routerLink]="['vitalSign']">
                <ion-col size="4">
                    <ion-img src='assets/icon/vitalSigns.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Vital Signs</div>
                    <div class="card-subtitle">Your vital signs telemetries</div>

                </ion-col>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card [routerLink]="['messenger']">
                <ion-col size="4">
                    <ion-img src='assets/icon/message.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Messanger</div>
                    <div class="card-subtitle">Chat with your care giver</div>

                </ion-col>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card [routerLink]="['medication']">
                <ion-col size="4">
                    <ion-img src='assets/icon/careActivity.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Care Actvities</div>
                    <div class="card-subtitle">The list of your medications, appointments, nutrition and communication</div>

                </ion-col>
            </ion-card>
        </ion-row>



    </section>

</ion-content>
