<ion-header>

    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-back-button text="Home" defaultHref="/tabs" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-label class="text-top">Patient Section</ion-label>
    </ion-toolbar>
    <!--  <ion-row class="topRow">
        <ion-col size="4" class="ion-align-self-start">

        </ion-col>
        <ion-col size="4" class="ion-align-self-center">
            <ion-card color="transparent" class="pati-card">
                <ion-img src='assets/icon/patientN.png'></ion-img>

            </ion-card>
        </ion-col>
        <ion-col size="4" class="ion-align-self-end">
        </ion-col>

    </ion-row>
    <ion-row class="bottomRow">
        <ion-col size="1" class="ion-align-self-start">

        </ion-col>
        <ion-col size="10" class="ion-align-self-center">

            <ion-list-header>

            </ion-list-header>

        </ion-col>
        <ion-col size="1" class="ion-align-self-end">

        </ion-col>

    </ion-row> -->
</ion-header>

<ion-content [fullscreen]="true">
    <section id="dashboardSection">
        <ion-grid>
            <ion-row>
                <ion-card [routerLink]="['profile']">
                    <ion-img src='assets/icon/pati.png'></ion-img>
                    <ion-label>Patient Data</ion-label>
                </ion-card>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>

                <ion-card class="vital-card" [routerLink]="['patientAccess']">

                    <ion-label>Patient Access</ion-label>
                    <ion-img src='assets/icon/access.png'></ion-img>
                </ion-card>

            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row [routerLink]="['relatedPerson']">
                <ion-card>
                    <ion-col size="12">
                        <ion-label class="ion-align-self-start">Related Persons</ion-label>
                        <ion-img class="ion-align-self-end" src='assets/icon/family.png'></ion-img>
                    </ion-col>
                </ion-card>
            </ion-row>
        </ion-grid>
    </section>

</ion-content>
