<ion-header>

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button text="Home" defaultHref="/tabs" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-label id="title"><strong>Device Section</strong></ion-label>
        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img id="image-toolbar" src='assets/icon/devices.png'></ion-img>

        </ion-card>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <section id="dashboardSection">
        <ion-row>
            <ion-card [routerLink]="['profile']">
                <ion-col size="4">
                    <ion-img src='assets/icon/device.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Device</div>
                    <div class="card-subtitle">Devices which you carrying on</div>

                </ion-col>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card [routerLink]="['profile']">
                <ion-col size="4">
                    <ion-img src='assets/icon/telemetries.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Telemetries</div>
                    <div class="card-subtitle">Information transferred by devices</div>

                </ion-col>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card [routerLink]="['voice']">
                <ion-col size="4">
                    <ion-img src='assets/icon/micro.png'></ion-img>
                </ion-col>
                <ion-col size="8">

                    <div class="card-title">Microphone</div>
                    <div class="card-subtitle">Test the microphone</div>

                </ion-col>
            </ion-card>
        </ion-row>

    </section>

</ion-content>