<ion-header>
  <ion-toolbar id="mainToolbar">
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/tabs" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-label id="title"><strong>Device Section</strong></ion-label>
    <ion-card slot="end" color="transparent" class="pati-card">
      <ion-img id="image-toolbar" src="assets/icon/devices.png"></ion-img>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="dashboardSection">
    <ion-card [routerLink]="['device']">
      <div class="card-content">
        <ion-img src="assets/icon/device.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Devices</div>
          <div class="card-subtitle">Devices which you are carrying on</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['telemetry']">
      <div class="card-content">
        <ion-img src="assets/icon/telemetries.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Telemetries</div>
          <div class="card-subtitle">Information transferred by devices</div>
        </div>
      </div>
    </ion-card>

    <ion-card [routerLink]="['voice']">
      <div class="card-content">
        <ion-img src="assets/icon/micro.png"></ion-img>
        <div class="text-content">
          <div class="card-title">Voice Laboratory</div>
          <div class="card-subtitle">Test commands and speaker</div>
        </div>
      </div>
    </ion-card>
  </section>
</ion-content>
