<ion-segment value="all" color="tertiary" scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
    <ion-segment-button value="AdaptationRequest">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Adaptation Request</ion-label>
    </ion-segment-button>
    <ion-segment-button value="AdaptationType">
        <ion-icon name="star-half-outline"></ion-icon>
        <ion-label>Adaptation Type</ion-label>
    </ion-segment-button>
    <ion-segment-button value="AdaptationDetail">
        <ion-icon name="telescope-outline"></ion-icon>
        <ion-label>Adaptation Detail</ion-label>
    </ion-segment-button>
</ion-segment>
<div *ngIf="segmentModel === 'AdaptationRequest'">
    <div class="container" *ngFor="let AdaptationRequest of AdaptationRequests">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        <ion-label>{{AdaptationRequest['description']}}</ion-label>
                    </ion-item>
                </mat-panel-title>

            </mat-expansion-panel-header>

            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

            <ion-card>
                <ion-item>

                    <ion-label>Access Mode Target</ion-label>

                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 1"> Auditory</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 2"> Colour</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 3"> ItemSize</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 4"> Olfactory</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 5"> Orientation</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 6"> Position</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 7"> Tactile</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 8"> Text on image</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 9"> Textual</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.accessModeTarget === 10"> Visual</ion-badge>

                </ion-item>
                <ion-item>

                    <ion-label>Language Of Adaptation</ion-label>

                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 1">ES</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 2">EN</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 3">FR</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 4">IT</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 5">PR</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 6">DE</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 7">JA</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 8">KO</ion-badge>
                    <ion-badge *ngIf="AdaptationRequest.languageOfAdaptation === 9">ZH</ion-badge>


                </ion-item>

            </ion-card>

        </mat-expansion-panel>



    </div>
</div>
<div *ngIf="segmentModel === 'AdaptationType'">
    <div class="container" *ngFor="let AdaptationType of AdaptationTypes">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        <ion-label>{{AdaptationType['description']}}</ion-label>
                    </ion-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-card>
                <ion-item>
                    <ion-label>Adaption Request</ion-label>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 1"> Alternative Text</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 2"> Audio description</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 3"> Captions</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 4"> E_book</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 5"> Haptic</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 6"> HighContrast</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 7"> LongDescription</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 8"> Sign Language</ion-badge>
                    <ion-badge *ngIf="AdaptationType.adaptionRequest === 9"> Transcript</ion-badge>
                </ion-item>
            </ion-card>
        </mat-expansion-panel>
    </div>
</div>
<div *ngIf="segmentModel === 'AdaptationDetail'">
    <div class="container" *ngFor="let AdaptationDetail of AdaptationDetails">
        <mat-expansion-panel details>
            <mat-expansion-panel-header slot="start">
                <mat-panel-title>
                    <ion-item>
                        <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                        <ion-label>{{AdaptationDetail['description']}}</ion-label>
                    </ion-item>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="danger" (click)="null" expandable>
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <ion-card>
                <ion-item>
                    <ion-label>Adaptation Request</ion-label>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 1"> Enhanced</ion-badge>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 2"> RealTime</ion-badge>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 3"> Record</ion-badge>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 4"> Symbolic</ion-badge>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 5"> Synthesized</ion-badge>
                    <ion-badge *ngIf="AdaptationDetail.adaptationRequest === 6"> Verbatim</ion-badge>

                </ion-item>
            </ion-card>
        </mat-expansion-panel>
    </div>
</div>