<ion-header>
  <ion-toolbar id="mainToolbar">
    <ion-buttons slot="start">
      <ion-back-button id="return" text="Patient Section" defaultHref="/tabs/tab1" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <div class="toolbar-title-container">
      <ion-img src="assets/icon/accessW.png" class="toolbar-icon-img"></ion-img>
      <ion-label id="title"><strong>Access Mode</strong></ion-label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="styled-access-list">
    <ion-item-sliding *ngFor="let patientAccess of patientAccess" #slidingItem>
      <ion-item detail [routerLink]="['detail-patient-access', patientAccess['id']]" class="styled-item">
        <ion-avatar slot="start">
          <img src="assets/icon/access.png">
        </ion-avatar>
        <ion-label class="access-label">
          <h2>{{ patientAccess['name'] }}</h2>
          <p>Click to view access details</p>
        </ion-label>
      </ion-item>

      <!-- Keep original delete button -->
      <ion-item-options side="end" (ionSwipe)="deletePatientAccess(slidingItem, patientAccess['id'], patientAccess['name'])">
        <ion-item-option color="danger" expandable (click)="deletePatientAccess(slidingItem, patientAccess['id'], patientAccess['name'])">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- Keep original edit button -->
      <ion-item-options side="start">
        <ion-item-option color="success" expandable (click)="closeSliding(slidingItem)" [routerLink]="['edit-practitioner', patientAccess['id']]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
