<ion-header>

    <ion-toolbar id="mainToolbar">
        <ion-buttons slot="start">
            <ion-back-button id="return" text="Care Plans" defaultHref="/tabs/tab2/carePlan" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>

        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img src='assets/icon/carePlansW.png'></ion-img>

            <ion-label id="title" *ngIf="!load"><strong>{{carePlanTemplate.name}}</strong></ion-label>
        </ion-card>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment [hidden]="carePlanDetailNull" value="all" color="tertiary" class="animate__animated animate__slideInUp animate__fast" scrollable="true" mode="md" [(ngModel)]="segmentModel" lines="none">
        <ion-segment-button value="details">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>Detail</ion-label>
        </ion-segment-button>
        <ion-segment-button value="goals">
            <ion-icon name="trophy-outline"></ion-icon>
            <ion-label>Goals</ion-label>
        </ion-segment-button>
        <ion-segment-button value="targets">
            <ion-icon name="locate-outline"></ion-icon>
            <ion-label>Targets</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-card-header [hidden]="!carePlanDetailNull">

    </ion-card-header>
    <div class="segment" *ngIf="segmentModel === 'details'" [hidden]="carePlanDetailNull">
        <ion-spinner class="spin" *ngIf="load" name="bubbles"></ion-spinner>
        <ion-list *ngIf="!load">
            <ion-list-header>
                <ion-icon class="segmentIcon" name="receipt-outline"></ion-icon>Name</ion-list-header>
            <ion-item>

                <ion-label text-wrap> {{carePlanTemplate.name}}</ion-label>
            </ion-item>
            <ion-list-header>
                <ion-icon class="segmentIcon" name="receipt-outline"></ion-icon>Description</ion-list-header>
            <ion-item>

                <ion-label> {{carePlanTemplate.description}}</ion-label>

            </ion-item>

            <ion-list-header>
                <ion-icon class="segmentIcon" name="heart-half-outline"></ion-icon>Duration Days</ion-list-header>
            <ion-item>

                <ion-label> {{carePlanTemplate.durationDays}}</ion-label>

            </ion-item>


            <ion-list-header>
                <ion-icon class="segmentIcon" name="male-female-outline"></ion-icon>Intent</ion-list-header>
            <ion-item>
                <ion-label *ngIf="carePlanTemplate.intent === 1"> Proposal</ion-label>
                <ion-label *ngIf="carePlanTemplate.intent === 2"> Plan</ion-label>
                <ion-label *ngIf="carePlanTemplate.intent === 3"> Order</ion-label>
                <ion-label *ngIf="carePlanTemplate.intent === 4"> Option</ion-label>
            </ion-item>


            <ion-list-header>
                <ion-icon class="segmentIcon" name="male-female-outline"></ion-icon>Status</ion-list-header>
            <ion-item>
                <ion-label *ngIf="carePlanTemplate.status === 1"> Draft</ion-label>
                <ion-label *ngIf="carePlanTemplate.status === 2"> Active</ion-label>
                <ion-label *ngIf="carePlanTemplate.status === 3"> On Hold</ion-label>
                <ion-label *ngIf="carePlanTemplate.status === 4"> Revoked</ion-label>
                <ion-label *ngIf="carePlanTemplate.status === 5"> Completed</ion-label>
                <ion-label *ngIf="carePlanTemplate.status === 6"> Canceled</ion-label>
            </ion-item>


        </ion-list>

    </div>
    <div class="segment" *ngIf="segmentModel === 'goals'">
        <div class="container" *ngFor="let goal of goals">
            <mat-expansion-panel details>
                <mat-expansion-panel-header slot="start">
                    <mat-panel-title>
                        <ion-item>
                            <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                            <ion-label>{{goal.name}}</ion-label>
                        </ion-item>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <ion-item-sliding>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="null" expandable>
                            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-card>
                    <ion-item>

                        <ion-label>Description</ion-label>
                        <ion-badge text-wrap> {{goal.description}}</ion-badge>
                    </ion-item>
                    <ion-item>

                        <ion-label>Priority</ion-label>

                        <ion-badge *ngIf="goal.priority === 1"> High</ion-badge>
                        <ion-badge *ngIf="goal.priority === 2"> Medium</ion-badge>
                        <ion-badge *ngIf="goal.priority === 3"> Low</ion-badge>
                    </ion-item>
                    <ion-item>

                        <ion-label>Status</ion-label>

                        <ion-badge *ngIf="goal.status === 1"> Draft</ion-badge>
                        <ion-badge *ngIf="goal.status === 2"> Active</ion-badge>
                        <ion-badge *ngIf="goal.status === 3"> On Hold</ion-badge>
                        <ion-badge *ngIf="goal.status === 4"> Revoked</ion-badge>
                        <ion-badge *ngIf="goal.status === 5"> Completed</ion-badge>
                        <ion-badge *ngIf="goal.status === 6"> Canceled</ion-badge>
                    </ion-item>
                    <ion-item>

                        <ion-label>Category</ion-label>

                        <ion-badge *ngIf="goal.category === 1"> Dietary</ion-badge>
                        <ion-badge *ngIf="goal.category === 2"> Safety</ion-badge>
                        <ion-badge *ngIf="goal.category === 3"> Behavioral</ion-badge>
                        <ion-badge *ngIf="goal.category === 4"> Physiotherapy</ion-badge>

                    </ion-item>
                    <!--  <ion-item>
                        <ion-label>Outcome Code</ion-label>
                        <ion-badge> {{goal.OutcomeCode}}</ion-badge>
                    </ion-item> -->
                </ion-card>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="segment" *ngIf="segmentModel === 'targets'">
        <div class="container" *ngFor="let target of targets">
            <mat-expansion-panel details>
                <mat-expansion-panel-header slot="start">
                    <mat-panel-title>
                        <ion-item>
                            <ion-icon class="segmentIcon" name="list-circle-outline"></ion-icon>
                            <ion-label>{{target.description}}</ion-label>
                        </ion-item>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <ion-item-sliding>
                    <ion-item-options side="start">
                        <ion-item-option color="danger" (click)="null" expandable>
                            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>

                <ion-card>
                    <ion-item>

                        <ion-label text-wrap>DesiredValue</ion-label>
                        <ion-badge text-wrap> {{target.desiredValue}}</ion-badge>
                    </ion-item>

                    <ion-item>

                        <ion-label>Due Date</ion-label>

                        <ion-badge> {{target.dueDate | date}}</ion-badge>
                    </ion-item>
                </ion-card>
            </mat-expansion-panel>
        </div>
    </div>
</ion-content>
