<ion-header>

    <ion-toolbar id="mainToolbar">
        <ion-buttons slot="start">
            <ion-back-button id="return" text="Device Section" defaultHref="/tabs/tab3" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>

        <ion-card slot="end" color="transparent" class="pati-card">
            <ion-img src='assets/icon/microW.png'></ion-img>

            <ion-label id="title"><strong>Voice lab</strong></ion-label>
        </ion-card>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <br/>
        <ion-button color="light" expand="full" (click)="checkPermission()">check Permission</ion-button>


        <br/>
        <ion-button color="light" expand="full" (click)="requestPermission()">request Permission</ion-button>


        <br/>
        <ion-button color="light" expand="full" (click)="startListening()">Start listening</ion-button>
        <br/>

        <ion-button color="dark" expand="full" (click)="startReading('')">Stop Reading</ion-button>
        <br/>
        <ion-list>
            <ion-item-sliding *ngFor="let item of text_sentences">
                <ion-item>
                    <ion-label text-wrap (touchstart)="startReading(item)">{{item}}</ion-label>
                </ion-item>
                <!-- <ion-item-options side="end">
                    <ion-item-option (touchstart)="startReading(item)">Speak</ion-item-option>
                </ion-item-options> -->
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>