<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Voice
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <br/>
        <ion-button color="dark" expand="full" (click)="checkPermission()">check Permission</ion-button>


        <br/>
        <ion-button color="dark" expand="full" (click)="requestPermission()">request Permission</ion-button>


        <br/>
        <ion-button color="dark" expand="full" (click)="startListening()">Start listening</ion-button>
        <ion-list>
            <ion-item-sliding *ngFor="let item of text_sentences">
                <ion-item>
                    <ion-label text-wrap (touchstart)="startReading(item)">{{item}}</ion-label>
                </ion-item>
                <!-- <ion-item-options side="end">
                    <ion-item-option (touchstart)="startReading(item)">Speak</ion-item-option>
                </ion-item-options> -->
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>